.imgContainer {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.popularTitle {
  margin-top: 150px;
  margin-bottom: 100px;
  padding-top: 100px;
  color: white;
  font-size: 21px;
}
.up {
  position: relative;
  bottom: 390px;
  left: 260px;
  border-radius: 100px;
}
.back {
  position: relative;
  bottom: 390px;
  right: 260px;
}
.up:hover {
  transition: 1s;
  transform: scale(1.01);
  box-shadow: black 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.back:hover {
  transition: 1s;
  transform: scale(1.01);
  box-shadow: black 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.section {
  background: url(/public/avion/4.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  height: 800px;
  margin: auto;
  margin-top: 200px;
}
