.imgContainer {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.popularTitle {
  margin-top: 150px;
  margin-bottom: 100px;
  padding-top: 100px;
  color: white;
  font-size: 21px;
}
.next {
  position: relative;
  bottom: 390px;
  left: 260px;
  background-color: transparent;
  color: white;
}
.prew {
  position: relative;
  bottom: 390px;
  right: 260px;
  background-color: transparent;
  color: white;
}
.next:hover {
  transition: 1s;
  transform: scale(1.1);
  color: whitesmoke;
  border: transparent;
}
.prew:hover {
  transition: 1s;
  transform: scale(1.1);
  color: whitesmoke;
  border: transparent;
}
.section {
  background: url(/public/avion/3.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  height: 800px;
  margin: auto;
  margin-top: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
