* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#my-tinerary {
  font-size: 20px;
}
#home,
#cities {
  font-size: 15px;
}
#login {
  font-size: 13px;
}

#find {
  font-size: 20px;
}
#our {
  font-size: 12px;
}
.mainClass {
  margin-top: 300px;
}
#carouselDiv {
  margin-top: 170px;
}
.imgDiv {
  margin-top: 60px;
}

.textcontainer {
  width: 100%;
  height: 16%;
  background-color: black;
  opacity: 40%;
  color: white;
  text-align: center;
}
.imgp {
  font-size: 14px;
  margin-bottom: -2px;
}
.img1 {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 230px;
  align-items: self-end;
  background: url(/src/assets/tokio/tokio1.jpg);
  background-size: cover;
  background-position: center;
}
.imgsub {
  margin-bottom: 4px;
  font-size: 11px;
}
.img2 {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 230px;
  align-items: self-end;
  background: url(/src/assets/newyork/newyork1.jpg);
  background-size: cover;
  background-position: center;
}
.img3 {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 230px;
  align-items: self-end;
  background: url(/src/assets/paris/paris1.jpg);
  background-size: cover;
  background-position: center;
}
.img4 {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 230px;
  align-items: self-end;
  background: url(/src/assets/seoul/seoul1.jpg);
  background-size: cover;
  background-position: center;
}
